@mixin buttonActive() {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
.button {
  @include flexContainer(row, center, center);
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  font-family: 'Roboto';
  font-weight: 900;
  transition: all 250ms;
  touch-action: manipulation;
  vertical-align: baseline;
}

.button:hover,
.button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(45, 45, 45, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button:hover {
  transform: translateY(-1px);
}

.button-laptop:active {
@include buttonActive();
  box-shadow: rgb(189, 134, 241) 1px 0 10px;
}

.button-console:active {
  @include buttonActive();
  box-shadow: rgb(142, 137, 146) 1px 0 10px;
}

.button-PC:active {
  @include buttonActive();
  box-shadow: rgb(56, 68, 232) 1px 0 10px;
}