@mixin forPrice() {
  border-radius: 5px;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  background-color: #fff;
  border: 1px solid grey;
  color: $secondary-color;
}

@mixin fs-roboto($weight) {
  font-family: "Roboto";
  font-weight: $weight;
}
.card-wrapper {
  @include flexContainer(column, space-between, center);
  border: 1px solid black;
  border-radius: 5px;
  align-self: flex-start;
  min-height: 320px;
}

.title {
  @include textStyle(center, none, rgb(115, 112, 117) 1px 0 10px);
  @include fs-roboto(900);
}

.description{
  @include textStyle(center, none, none);
  @include fs-roboto(400);
  display: none;
}

.footer-card-product {
  @include flexContainer(row, space-between, center);
}

.price {
  @include textStyle(center, none, none);
  @include forPrice();
}

.img-laptop:hover {
  content: url('../images/laptopsmall2.jpg');
}

.img-console:hover {
  content: url('../images/consolesmall2.jpg');
}

.img-PC:hover {
  content: url('../images/pcsmall2.jpg');
}

