.snackbar {
  @include flexContainer(row, flex-start, center);
  min-width: 250px;
  padding: 6px 16px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
}

.snackbar__container {
  @include flexContainer(column, flex-start, center);
  z-index: 1400;
  position: fixed;
}

.snackbar__container--bottom-left {
  bottom: 24px;
  left: 24px;
  right: auto;
}

.snackbar__container--bottom-center {
  bottom: 24px;
  left: 34%;
  right: auto;
}

.snackbar__container--bottom-right {
  bottom: 24px;
  right: 24px;
  left: auto;
}

.snackbar__container--top-right {
  top: 24px;
  right: 24px;
  left: auto;
}

.snackbar__container--top-center {
  top: 24px;
  left: 34%;
  right: auto;
}

.snackbar__container--top-left {
  top: 24px;
  left: 24px;
  right: auto;
}

.snackbar--default {
  background-color: $secondary-dark;
}

.snackbar--error {
  background-color: $danger-dark;
}

.snackbar--warning {
  background-color: $warning;
}

.snackbar--info {
  background-color: $info;
}

.snackbar--success {
  background-color: $success;
}

@keyframes slideInUp {
  0% {
    transform: translateY(100%);
  }
  30% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(0);
  }
  100% {
    transform: translateX(-2000px);
  }
}

.snackbar--up {
  animation: slideInUp 4s ease;
}

@keyframes slideInRight {
  0% {
    transform: translateX(2000px);
  }
  30% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0);
  }
  60% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2000px);
  }
}

.snackbar--right {
  animation: slideInRight 4s ease;
}

@keyframes slideInDown {
  0% {
    transform: translateY(-2000px);
  }
  30% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(0);
  }
  100% {
    transform: translateX(-2000px);
  }
}

.snackbar--down {
  animation: slideInDown 4s ease;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-2000px);
  }
  30% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0);
  }
  60% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2000px);
  }
}

.snackbar--left {
  animation: slideInLeft 4s ease;
}
