$roboto-font-path: "../fonts";

@font-face {
  font-family: 'IcoMoon-Free';
  src: url("#{$roboto-font-path}/IcoMoon-Free.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url("#{$roboto-font-path}/Roboto-Black.ttf") format("ttf");
  font-family: "Roboto";
  font-weight: 900;
}

@font-face {
  src: url("#{$roboto-font-path}/Roboto-Regular.ttf") format("ttf");
  font-family: "Roboto";
  font-weight: 400;
}

@font-face {
  src: url("#{$roboto-font-path}/Roboto-ThinItalic.ttf") format("ttf");
  font-family: "Roboto";
  font-weight: 100;
}

@font-face {
  src: url("#{$roboto-font-path}/Roboto-Medium.ttf") format("ttf");
  font-family: "Roboto";
  font-weight: 500;
}

@font-face {
  src: url("#{$roboto-font-path}/Roboto-Light.ttf") format("ttf");
  font-family: "Roboto";
  font-weight: 300;
}